.colorpallete {
  display: flex;
  justify-content: center;
}

.colorpallete span {
  content: " ";
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0 , .1);
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  70% {
      -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}